---
apiVersion: v1
kind: PersistentVolume
metadata:
  namespace: {{ client }}
  name: {{ pv_name }}
spec:
  capacity:
    storage: {{ pv_size_storage_capacity }} # This is an arbitrary number due to EFS not imposing any limitations but the field is mandatory for Kubernetes
  volumeMode: Filesystem
  mountOptions:
    - {{ accesspoint }}
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: efs-sc
  claimRef:
    name: {{ pvc_name }}
    namespace: {{ client_name }}
  csi:
    driver: efs.csi.aws.com
    volumeHandle: {{ efs_id }}
