---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: {{client_name}}
  name: {{ pvc_name }}
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: efs-sc
  resources:
    requests:
      storage: {{ pv_size_storage_capacity }}
